node_modules
.vsix
vsc-extension-quickstart.md

# Tests and coverage
.coverage
.noseids
cover/**

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# npm install
node_modules/**
client/node_modules/**
client/out/**

# package
*.vsix

# Output file from the test
server/tests/stdout.txt

# Debug files
*.log
